// -------------- font sizes ---------
$xx-small:0.4em;
$x-small:0.6em;
$small:0.7em;
$medium:0.8em;
$large:0.9em;
$x-large:1em;
$xx-large:1.1em;
$xxx-large:1.2em;
// -------------- colors ---------
$mainColor:#304051;
// -------------- sizes ---------
$containerWidth:1170px;

$fontFamily:IRANSans;


